.wrapp {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 70px;
    border: 2px solid;
    border-radius: 20px;
    font-weight: bold;
    user-select: none;
    background-color: lightgray;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    height: 20px;
    width: 100px;
    background-color: azure;
}

.dateOn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    height: 20px;
    width: 100px;
    background-color: azure;
}

.dateOff {
    height: 20px;
}
.button {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}