.wrapp {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.loader {
    margin-top: -25px;
    width: 100px;
    height: 100px;
}

.container {
    height: 20px;
}