.wrapp {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}