.avatar {
    position: center;
    width: 60px;
    height: 60px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.body {
    display: flex;
    align-items: end;
}

.textBody {
    width: 200px;
    border: black solid;
    border-radius: 15px 15px 15px 0;
    background-color: black;
    margin-left: 20px;
}

.name {
    margin: 2% 0 0 5%;
    color: mediumorchid;
    font-size: large;
}

.message {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.time {
    display: flex;
    justify-content: end;
    color: gray;
    font-size: small;
    margin-right: 10px;
}

