.header {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: grey;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    transition-duration: 300ms;
    box-shadow: 5px 5px 5px;
    font-weight: bold;
}

.active {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: orange;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    transition-duration: 300ms;
    font-weight: bold;
    margin-top: 15px;
    box-shadow: none;
}

.item:hover {
    color: black;
    transition-duration: 300ms;
}

.text {
    font-weight: bold;
}