.container {
    height: 100px;
    width: 300px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 100px;
}

.text {
    margin-bottom: 20px;
}